{% extends "pages/base.html" %}
{% load static %}
{% block titile %}ChatHub{% endblock titile %}

{% block body %}


<script src={% static 'js/core.js' %}></script>
<!DOCTYPE html>
<html lang="en">

<div class="antialiased">
    {% include "../components/landingnav.html"%}
    {% include "../components/hero.html"%}
	


	<!-- C1 Container Start -->
	<div class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">

		{% include "../components/cards.html"%}
        {% include "../components/pic-cards.html"%}
        {% include "../components/features.html"%}
        {% include "../components/integrations.html"%}
	</div>
	<!-- C1 Container End -->

	<!-- Footer Start -->
    {% include "../components/footer.html"%}
	<!-- Footer End -->

	<!-- AOS init -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</div>

</html>
{% endblock body %}