{% extends "pages/base.html" %}
{% load static %}
{% block title %}Automated - Trading{% endblock title %}


{% block body %}



<div class="antialiased">
    {% include "../components/landingnav.html"%}
    {% include "../components/hero.html"%}
	


	<!-- C1 Container Start -->
	<div class="px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">

		{% include "../components/cards.html"%}
        {% include "../components/pic-cards.html"%}
        {% include "../components/features.html"%}
        {% include "../components/integrations.html"%}
	</div>
	<!-- C1 Container End -->

	<!-- Footer Start -->
    {% comment %} {% include "../components/footer.html"%} {% endcomment %}
	<!-- Footer End -->

	<!-- AOS init -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</div>




{% endblock body %}