{% extends "pages/base.html" %}
{% load static %}
{% block title %}Automated Trading Platform - Signup{% endblock title %}


{% block body %}

{% include "../components/header.html" %}
{% include "../components/application-sidebar.html" %}

<div class="table-container">

    <div>
        <table>
            <tr>
                <th>Trading Symbol</th>
                <th>Name</th>
                <th>Last Price</th>
                <th>Ticket Size</th>
                <th>Lot Size</th>
                <th>Instrument Type</th>
                <th>Instrument Token</th>
                <th>Exchange Token</th>
                <th>Exchange</th>
                <th>Segment</th>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
            </tr>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
                <td>Giovanni Rovelli</td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <div class="message-box">
        <h2>No Market Data To Display</h2>
    </div>
</div>
{% endblock body %}