.gradient {
    background: linear-gradient(93deg, #8d0062 0%, #000 100%);
  }
  .background-color {
    background-color: #FFF2E1;   
  }
  .submit-btn {
    background-color: #F48C06 !important;
  }

  .link-color {
      color: #F48C06
  }
  .w-100 {
      width: 100% !important;
  }

  .section {
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 20px;
  }
  .section label {
    display: block;
    margin-bottom: 5px;
  }
  .text-field {
    margin-bottom: 10px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .table-container {
    width: 80%;
    background-color: #fff;
    padding-left: 10rem;
    padding-top: 5rem;
  }

  .header {
    background-color: #031f38;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.toggle-nav {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/* Navigation styles */
.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-right: 20px;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: #031f38;
    padding-top: 20px;
    transition: left 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #444;
}

.form-container {
  width: 80%; /* Adjust width as needed */
  background-color: #fff;
  padding-left: 5rem;
}

.input-field {
    height: 3rem;
    width: 25rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px);
}

.message-box {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  border: 1px solid dimgrey;
  height: 10rem;
}

@media (max-width: 768px) {
  .message-box {
      width: 90%;
  }
}