<!-- Features Start -->
{% load static %}
<div class="sm:flex items-center sm:space-x-8 mt-36">
  <div data-aos="fade-right" class="sm:w-1/2 relative">
    <div class="bg-yellow-500 rounded-full absolute w-12 h-12 z-0 -left-4 -top-3 animate-pulse"></div>
    <h1 class="font-semibold text-2xl relative z-50 text-darken lg:pr-10">See what <span class="text-yellow-500">you can do with Automated Trading Platform</span></h1>
    <p class="py-5 lg:pr-32">The platform seamlessly integrates with established brokers like Zerodha and ICICI Bank, ensuring direct access to market data and execution capabilities.
    </p>
  </div>
</div>


<div class="flex flex-col md:flex-row items-center md:space-x-10 mt-16">
  <div data-aos="fade-right" class="md:w-1/2 lg:pl-14">
    <h1 class="text-darken font-semibold text-3xl lg:pr-56"><span class="text-yellow-500">Custom</span> Trading Strategies</h1>
    <p class="text-gray-500 my-4 lg:pr-32">Users can effortlessly create, edit, and delete custom trading strategies based on their unique trading objectives, risk tolerance, and market insights.</p>
  </div>
  <img data-aos="fade-left" class="md:w-1/2 img-border" src="{% static 'images/custom-trading-strategies.jpg' %}">
</div>


<div class="mt-20 flex flex-col-reverse md:flex-row items-center md:space-x-10">
  <div data-aos="fade-right" class="md:w-6/12">
    <img class="md:w-11/12 img-border" src="{% static 'images/machine-learning.jpg' %}">
  </div>
  <div data-aos="fade-left" class="md:w-6/12 md:transform md:-translate-y-20">
    <h1 class="font-semibold text-darken text-3xl lg:pr-64">Machine Learning Models</h1>
    <p class="text-gray-500 my-5 lg:pr-52"> Leveraging state-of-the-art Machine Learning algorithms, the platform offers advanced analytics and predictive capabilities to enhance trading strategies and decision-making processes.</p>
  </div>
</div>


<div class="flex flex-col md:flex-row items-center mt-12">
  <div data-aos="fade-right" class="md:w-5/12">
    <h1 class="text-darken font-semibold text-3xl leading-tight lg:pr-32"> Back-Testing</h1>
    <p class="my-5 lg:pr-14">Robust back-testing functionality allows users to simulate their trading strategies against historical market data, enabling comprehensive analysis of strategy performance and refinement.</p>
  </div>
  <img data-aos="fade-left" class="md:w-7/12 img-border" src="{% static 'images/back-testing.jpg' %}">
</div>

<div class="mt-20 flex flex-col-reverse md:flex-row items-center md:space-x-10">
  <div data-aos="fade-right" class="md:w-6/12">
    <img class="md:w-11/12 img-border" src="{% static 'images/security.jpg' %}">
  </div>
  <div data-aos="fade-left" class="md:w-6/12 md:transform md:-translate-y-20">
    <h1 class="font-semibold text-darken text-3xl lg:pr-64">Security and Reliability</h1>
    <p class="text-gray-500 my-5 lg:pr-52"> Stringent security measures and robust data encryption protocols safeguard user information and transactions, ensuring the integrity and confidentiality of trading operations.</p>
  </div>
</div>

<!-- One-on-One Discussions -->
<div class="mt-24 flex flex-col-reverse md:flex-row items-center md:space-x-10">
  <div data-aos="fade-left" class="md:w-5/12 md:transform md:-translate-y-6">
    <h1 class="font-semibold text-darken text-3xl lg:pr-64">User-Friendly<span
        class="text-yellow-500">Interface</span></h1>
    <p class="text-gray-500 my-5 lg:pr-24"> Intuitive user interface and interactive dashboards ensure a seamless user experience, enabling traders to efficiently navigate and manage their trading activities.</p>
  </div>
  <div data-aos="fade-right" class="md:w-7/12">
    <img class="md:w-11/12 img-border" src="{% static 'images/user-friendly.jpg' %}">
  </div>
</div>

<!-- Features End -->